.login-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.login-section {
  flex: 1;
  background-color: #f2f2f2;
}

.logoArea {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.logoArea h1 {
  font-weight: 500;
  font-size: 38px;
}

.logo {
  width: 50px;
  height: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.login-input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #737373;
}

.login-input[type='text'],
.login-input[type='password'] {
  width: 90%;
}

.login-input[type='text']:focus,
.login-input[type='password']:focus {
  outline: none;
  box-shadow: 0 0 5px #0c4592;
  border-color: #0c4592;
}

.login-label {
  margin: 10px;
}

.login-button {
  padding: 10px;
  background-color: #0c4592;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0.7;
  width: 90%;
  margin-top: 30px;
}

.login-button:hover {
  opacity: 1;
  transition: 0.4s ease;
}

.sign-up {
  color: #737373;
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-footer a {
  text-decoration: none;
  color: #0c4592;
  opacity: 0.7;
}

.login-footer a:hover {
  opacity: 1;
}

.image-section {
  flex: 1;
}

.login-img {
  width: 100%;
  height: 100vh;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 70px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  .image-section {
    display: none;
  }

  .logoArea {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .login-form {
    margin-left: 50px;
  }

  .login-input {
    width: 80%;
  }

  .login-button {
    width: 90%;
  }

  .password-toggle {
    left: auto;
    right: 100px;
    top: 40%;
    transform: translateY(-50%);
  }
}
