.elevate-your-journey {
  display: flex;
  width: 100%;
  background-color: #e3efff;
}

.elevate-your-journey-text {
  flex: 1;
  padding: 100px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  background-color: #e3efff;
}
.elevate-your-journey-text h2 {
  margin-bottom: 20px;
}
.elevate-your-journey-text p {
  margin-bottom: 20px;
  padding: 0 20px;
}

.elevate-your-journey-img {
  flex: 1;
}
.img {
  width: 100%;
  object-fit: contain;
}

.mainElevate {
  position: relative;
}
.cardElevate {
  position: absolute;
  left: 30px;
}
.card1 {
  position: absolute;
  top: 80px;
  left: 700px;
  transform: rotate(10deg);
}

.card2 {
  position: absolute;
  top: 200px;
  left: 1050px;
  transform: rotate(-5deg);
  background-color: #e3efff;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .elevate-your-journey {
    flex-direction: column;
  }

  .elevate-your-journey-text {
    padding: 50px;
    margin-top: 50px;
    text-align: center;
  }

  .elevate-your-journey-text h2 {
    margin-bottom: 10px;
  }

  .elevate-your-journey-text p {
    margin-bottom: 10px;
    padding: 0;
  }

  .elevate-your-journey-img {
    order: -1;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .mainElevate {
    position: static;
  }

  .cardElevate {
    position: static;
    margin-top: 20px;
  }
}

/* Media query for screens with a minimum width of 769px */
@media (min-width: 769px) {
  .elevate-your-journey-text {
    padding: 100px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }

  .elevate-your-journey-img {
    flex: 1;
  }

  .img {
    width: 100%;
    object-fit: contain;
  }

  .mainElevate {
    position: relative;
  }

  .cardElevate {
    position: absolute;
    left: 30px;
  }
}
