.flowCard {
  background: #ffff;
  color: black;
  width: 294px;
  height: 235px;
  padding: 20px;
  border-radius: 10px;
}

.flowCard .number {
  background: #3c88ef;
  color: #ffff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 23px;
}

.flowCard .title {
  width: 100%;
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: start;
}

.flowCard .description {
  font-size: 16px;
  width: 265px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 768px) {
  .flowCard {
    margin-bottom: 20px;
  }
}
