
.flowCard{
  background: #ffff;
  color: black;
  width: 294px;
  height: 258px;
  padding: 20px;
  border-radius: 8px;
}

.flowCard .number{
  background: #3C88EF;
  color: #ffff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 23px;
}

.flowCard .title{
  width: 100%;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: start;
}

.flowCard .description{
  font-size: 16px;
  width: 260px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 768px){
  .flowCard{
    margin-bottom: 20px;
  }
}