.Hero_wrapper {
  padding-top: 170px;
  margin: 0 10vw 100px 10vw;
}

.Hero_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: #e8f2ff;
  background-image: url(../../assets/H-BG-Combo.png);
  background-repeat: no-repeat;
  background-position: 110%;
  background-size: 460px;
}

.Hero_left {
  padding: 50px;
}

.Hero_left h1,
.Hero_left p {
  color: #565655;
  width: 420px;
}

.Hero_left h1 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.Hero_left p {
  margin: 30px 0;
  font-size: 20px;
}

.Hero_left span {
  color: #3c88ef;
}

.Hero_right {
  display: none;
}

@media (max-width: 1075px) {
  .Hero_inner {
    background-image: none;
    flex-direction: column;
  }

  .Hero_left,
  .Hero_right,
  .Hero_left p,
  .Hero_left h1 {
    width: 100%;
  }
}
