.Elevate_Card {
  box-shadow: 0px 34.1559px 68.3117px -12.8085px rgba(16, 24, 40, 0.14);
  border-radius: 8px; 
 width: calc(51% - 30px);
  padding: 50px 20px;
  background-color: #e3efff;
  background-image: url(../../../../assets/L-BG.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.Elevate_Card h3 {
  margin: 15px 0;
}

.Elevate_Card p {
  color: #2b2b2b;
}

@media (max-width:1102px){
  .Elevate_Card{
     width: 100%;
  }  
}
