.upload-card {
  height: 200px;
  background: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9ea2aa;
}

.upload-card .file-name-container {
  margin-left: 110px;
  width: 48%;
}

.upload-card .file-name-container .file-name {
  color: #252d3f;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1%;
}

.upload-card .file-name-container div {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 40px;
}

.upload-card .file-name-container div span {
  color: #0c4592;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90px;
}

.upload-card .file-name-container div span .icon {
  font-size: 30px;
  margin-right: 4px;
}

.upload-card .date {
  margin-left: 50px;
  font-size: 14px;
  margin-top: -80px;
}
