.upload-card {
  height: 150px;
  background: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9ea2aa;
}
.upload-card .file-name-container {
  margin-left: 30px;
  width: 30%;
}

.upload-card .file-name-container .file-name {
  color: #252d3f;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1%;
  margin-left: 50px;
}

.upload-card .upload-card-icon {
  display: flex;
  width: 145px;
  justify-content: space-between;
  margin-top: 10px;
}

.upload-card .upload-card-icon span {
  color: #0c4592;
  cursor: pointer;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70px;
  margin-left: 40px;
}

.upload-card .upload-card-icon span .icon {
  font-size: 20px;
  margin-right: 4px;
}

.image-preview {
  width: auto;
  height: auto;
}

.upload-card .date {
  margin-left: 150px;
  font-size: 14px;
}
