.videos-row{
  padding: 20px 4vw;
  background: white;
}

.videos-row nav{
  margin-bottom: 20px;
}

.videos-row nav  span{
  color: #0C4592;
  border-bottom: 2px solid #0C4592;
  background: #ffff;
  padding: 8px 24px;
  width: 98px;
  height: 40px;
}

.videos-row span {
  font-weight: 400;
  cursor: pointer;
}

.videos-row h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 36px;
}


.videos-row .videos-container-title{
  background: #F8F8F9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #6E737F;
  margin-top: 15px;
  margin-bottom: 15px;
}

.videos-row .videos-container-title span{
  font-weight: 600;
  font-size: 16px;
  color: #6E737F;
}


.videos-container-title .learning-material{
  margin-left: 28px;
  width: 230px;
}

.videos-container-title .file-name{
  margin-left: 30px;
  width: 51%;
}


.videos-container-title .date{
  margin-left: 8px;
}





