.accordion-wrapper {
  width: 900px;
  padding-bottom: 44.8px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 28px;
  cursor: pointer;
  transition: all linear 0.3s;
}

.accordion-wrapper .section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 44px;
}

.accordion-wrapper .section-1 span {
  font-size: 43px;
}

.accordion-wrapper .section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

@media screen and (max-width: 1080px) {
  .accordion-wrapper {
    width: 85vw;
  }

  .accordion-wrapper .section-1 {
    width: 85vw;
  }

  .accordion-wrapper .section-2 {
    width: 85vw;
    justify-content: center;
    flex-direction: column;
  }
}
