.image-row {
  background: white;
  position: relative;
}

.Students_body {
  display: flex;
  /* gap: 50px; */
  /* margin: 20px 10vw 70px 10vw; */
}
.Students_main {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Students_table {
  padding-left: 50px;
  margin-top: 10px;
}

.image-row nav {
  margin-bottom: 20px;
}

.image-row nav span {
  color: #0c4592;
  border-bottom: 2px solid #0c4592;
  background: #ffff;
  padding: 8px 24px;
  width: 98px;
  height: 40px;
}

.image-row span {
  font-weight: 400;
  cursor: pointer;
}

.image-row h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 36px;
}

.image-row .image-container-title {
  background: #f8f8f9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #6e737f;
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-row .image-container-title span {
  font-weight: 600;
  font-size: 16px;
  color: #6e737f;
}

.image-container-title .learning-material {
  margin-left: 28px;
  width: 230px;
}

.image-container-title .file-name {
  margin-left: 30px;
  width: 51%;
}

.image-container-title .date {
  margin-left: 8px;
}

.image-container-title,
.image-container {
  padding-left: 50px;
}
