.UploadVideo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 550px;
  border-radius: 8px;
  padding: 30px 50px;
  position: absolute;
  top: 15%;
  left: 24%;
  background: #ffff;
}

.UploadVideo input {
  border: 1px solid #9ea2aa;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0 40px 0;
}

.UploadVideo input[type='text']:focus {
  border: 1.9px solid grey;
  outline: none;
  color: #252d3f;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
}

.upload {
  padding: 70px 50px;
  border: 1px dashed #9ea2aa;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.uploadHovered {
  border: 2px dashed #1164d3;
  transition: 0.1s ease;
}

.upload span {
  color: #1164d3;
}
