.main {
  display: flex;
  background-color: #f7f7f7;
  width: 100%;
}

.text-section {
  width: 350px;
  background-color: #f7f7f7;
  padding: 20px;
  margin-left: 100px;
}

.text-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 47.2px;
  margin-bottom: 10px;
  color: #26343f;
}

.text-description {
  font-size: 1rem;
  color: #617d98;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05); */
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 20px 0;
  padding: 0 5px 0 10px;
  white-space: normal;
  color: #565655;
}

.carousel-item-title {
  color: #0c4592;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.carousel-img {
  width: 250px;
  object-fit: contain;
  padding: 0 20px 0 0px;
}

.carousel-item-name {
  font-weight: 500;
  font-size: 25px;
  color: #565655;
}

.carousel-buttons {
  display: flex;
}

.carousel-icons {
  color: #ffc400;
}

.carousel-arrow {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #617d98;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
  .main {
    /* padding: 20px; */
    flex-direction: column;
  }

  .carousel {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .carousel-item {
    height: 320px;
    background-color: #fff;
  }

  .text-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 5px;
  }

  .carousel-img {
    width: 200px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 5px;
  }
  .text-title {
    font-size: 30px;
    line-height: 35px;
  }

  .text-description {
    font-size: 0.9rem;
  }
  .carousel-item-description {
    font-size: 0.6rem;
  }

  .carousel-item {
    height: 330px;
    z-index: 1;
  }

  .carousel-item-title {
    font-size: 18px;
  }

  .carousel-img {
    width: 200px;
  }

  .carousel-item-name {
    font-size: 20px;
  }

  .carousel-arrow {
    width: 30px;
    height: 30px;
  }
}
