.choices-page {
  padding: 20px 12vw;
}

.choices-container {
  display: grid;
  grid-template-columns: 310px 310px;
  row-gap: 18px;
  column-gap: 40px;
}

.choices-page h1 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 700;
  margin-bottom: 18px;
}