/* .about{
    position: absolute;
    width: 1288px;
    height: 917px;
    left: 151px;
    top: 851px;
}
.left{
    position: absolute;
    width: 439px;
    height: 289px;
    left: 151px;
    top: 851px;     
}
.right{
    position: absolute;
    width: 707px;
    height: 784px;
    left: 732px;
    top: 927.5px;
}
 */
