.right{
    display: flex;
    margin-top: 2rem;
    justify-content: end;
}
.left-pic{
    display: flex;
    flex-direction: column;
    margin-right: 0.7rem;
}
.top-pic{
    width: 269px;
    height: 300px;
    margin-bottom: 1rem;
}
.bottom-pic{
    width: 269px;
    height: 346px;
}
.right-pic{ 
    width: 300px;
    height: 400px;
    margin: 3rem 0;
}
.left-title{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1rem;
}
.left{
    margin: 1rem 5rem;
    padding: 1rem;   
}
.left-content{
    text-align: justify;
}
.card-item{
    display: flex;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-left{
    margin-right: 1rem;
    margin-top: 0.6rem;
}
.my-icon{
    font-size: larger;
    padding: 0.4rem;
    border-radius: 8px;
}
.card-right > p{
    font-size: smaller;
    text-align: justify;
}