.Students_search {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 40px;
}

.Students_search input,
.Students_search select {
  border: 1px solid #e1e1e4;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  /* text-align: center; */
  cursor: text;
  margin-top: 20px;
}

.Students_search input {
  width: 40%;
}

.Students_search select {
  padding: 12px 20px;
  width: 20%;
  cursor: pointer;
}

.student_table {
  width: 97%;
  border-collapse: collapse;
}

.student_table {
  text-align: left;
  margin-bottom: 50px;
  /* margin-right: 200px; */
}

.student_table select {
  outline: none;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.Grade {
  font-size: 18px;
  font-weight: 600;
}

.student_table thead > tr > th {
  padding: 15px 0 25px 0;
  cursor: pointer;
}

.student_table thead > tr > th:first-child {
  padding-left: 25px;
}

.student_table thead > tr > th:nth-child(2) {
  padding-left: 10px;
}

.student_table thead > tr > th:nth-child(3) {
  padding-left: 7px;
}

.StudentTable_body tr {
  border-bottom: 1px solid #cfd0d4;
  cursor: pointer;
}

.StudentTable_body tr:hover {
  background: #cfd0d4;
  transition: 0.7s ease;
}

.StudentTable_body tr > td {
  padding: 15px;
}

.StudentTable_body tr > td:first-child {
  padding: 15px 15px 15px 30px;
  width: 30%;
  border-radius: 5px 0 0 5px;
}
.StudentTable_body tr > td:last-child {
  padding: 15px 15px 15px 0;
  border-radius: 0 5px 5px 0;
}

.paginationItem {
  color: #0a3775;
}

.paginationSelected {
  background-color: "#0A3775";
  color: "#FFF";
}

.learningPathDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 5px;
  /* background-color: red; */
}
