<<<<<<< HEAD
.go-back-btn{
=======
/* button{
>>>>>>> 12f8f7b3a6093c3d1d6fde8d0b21ebdb4c791203
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 70px;
  background: #f7f7f7;
  align-items: center;
  font-size: 18px;
}

.arrow{
  font-size: 20px;
  margin-right: 4px;
} */

.arrow{
  font-size: 20px;
  margin-right: 4px;
}